@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

.game-info-cont{
    position: absolute;
    display: grid;
	grid-auto-flow: column;
    top: 120px;
    left: 50%;
    transform: translate(-50%);
    width: 500px;
    height: 500px;
    background: white;
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
    z-index: 100;
}

.game-info-cont-col1{
    margin: 0 auto; /* centrar contenido */
    display: block;    
    height: 250px;
    width: 240px;
}

.game-box{
    background: rgb(224,223,224);
background: linear-gradient(180deg, rgba(224,223,224,1) 0%, rgba(50,50,50,1) 100%);
    position: relative; /* Establece posición relativa para .game-box */
    width: 240px; /* Ancho deseado para .game-box */
    height: 250px; /* Altura deseada para .game-box */
    border: 1px solid #a0a0a0;
    border-radius: 10px;
    display: flex; /* Usa flexbox para centrar contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    overflow: hidden;
}

.game-box-back-image{
    min-width: 100%;
    min-height: 100%;
    opacity: 0.3;
}

.game-info-cont-col1-cont{
    
    display: block;
    padding: 15px;
    width: 240px;
    text-align: left;
    height: 250px;
    font-size: 0.6em;
	font-weight: 600;
}

.info-header{
    background: #d0d0d0;
    font-weight: 600;
}

.game-info-text{
    font-weight: 400;
    font-size: 1.5em;
}

#game-developer:hover, #game-genre:hover{
    text-decoration: underline  #000;
    cursor: pointer;
}

.game-info-cont-col2{
    margin: 0 auto; /* centrar contenido */
    display: block;    
    height: 250px;
    width: 240px;
}

.game-info-cont-col2 .info-header{
     font-size: 1em;
	font-weight: 600;
    text-align: left;
}

.info-versions{
    padding: 2%;
    height: 250px;
    width: 240px;
    align-items:center;
    
}

.info-versions li{
    list-style: none;
}

.game-versions{
    margin-top: 10px;
}

.info-icons{
    width: 240px;
    height: 50px;
}

.info-icons img{
    padding: 2px;
    border: 1px solid;
    border-radius: 5px;
}

.game-save-container{
    display: inline;
}

.game-save-container .tooltiptext {
    visibility: hidden;
    width: 475px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 20px;
    margin: 10px;
    position: absolute;
    left:0;
    top: 330px;
    z-index: 2;
    
    opacity: 0;
    transition: opacity 0.3s;*/
}

.game-save-container:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.info-tags{
    padding: 10px;
    width: 240px;
    height: 200px;
    margin-bottom: 10px;
}

.game-tags{
    margin-top: 10px;
}

.info-tags span{
    padding: 5px;
    font-size: 0.8em;
    font-weight: 600;
	background: #f00;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
}

.skip-game-box{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(255,255,255,0.5);
    z-index: 99;
}

.skip{
	display: none;
}

.box {
    width: 138px; /* Ancho deseado para .box */
    height: 98px; /* Altura deseada para .box */
    transform-style: preserve-3d;
    transform: rotateY(185deg) rotateX(150deg) rotateZ(0);
    animation: rotate 5s linear infinite;
    position: absolute; /* Establece posición absoluta para .box dentro de .game-box */
    transform: translate(-50%, -50%);
}
 
.side {
    /*border: 2px solid black;*/
    position: absolute;
    /*opacity: 0.7;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.right, .left{
    width: 15px; /* mm del ancho del lomo*/
    height: 185px; /* mm de la altura */
}

.right {
    background-image: url(../img/cover_spineback_ffxint.png);
    background-size: cover;
    transform: translateZ(67.5px) translateX(67.5px); /* ambos son la mitad de los mm del ancho de la caja */
    
}

.left {
    background-image: url(../img/cover_spine_ffxint.png);
    background-size: cover;
    transform: translateZ(-67.5px) translateX(67.5px) rotateX(180deg) rotateZ(180deg); /* ambos son la mitad de los mm del ancho de la caja (el eje Z *-1)*/
}
 
 
.front, .back{
    width: 135px;
    height: 185px;
}

.front {
    background-image: url(../img/cover_front_ffxint.png);
    background-size: cover;
    transform: translateX(0px) rotateY(-90deg);
}
 
.back {
    background-image: url(../img/cover_back_ffxint.png);
    background-size: cover;
    transform: translateX(15px) rotateY(90deg);
}

@keyframes rotate {
    from {
        transform: rotateY(0) rotateX(0) rotateZ(0);
    }
    to {
        transform: rotateY(360deg) rotateX(0) rotateZ(0);
    }
}

@media (max-width: 700px){
    
    .game-info-cont, .game-info-cont-col1, .info-versions, .game-info-cont-col2, .game-info-cont-col1-cont, .info-icons, .info-tags{
        display: block;
        width: 100%;
        height: auto;
        border: none;
    }
    
    .game-box{
        width: 100%;
        display: block;
    }
    
    .skip-game-box{
        background: #a0a0a0;
        z-index: 101;
       top: 100px;  
    right: 10px;
    left: inherit;
       width: 50px;
        height: 50px;
        border-radius: 50px;
    }
    
    
}