@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Roboto", sans-serif;
}

.nav{
	background: #A0A0A0;
	height: 80px;
	color: #fff;
}

.nav-container{
	display: flex; /* para poner todos los elementos en la misma linea */
	height: 100%;
	width: 90%;
	margin: 0 auto; /* centrar contenido */
	justify-content: space-between; /* poner el contenido en las esquinas*/
	align-items: center;
}

.nav-logo{
	font-size: 1.5em;
	font-weight: 900;
}

.nav-menu{
	display: grid;
	grid-auto-flow: column; /* pone los items en fila */
	gap: 3em; /* espaciador */
}

.nav-item{
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	--clippy: polygon(0 0, 0 0, 0 100%, 0% 100%); /* servirÃ¡ para hacer el efecto , en after */
}

.nav-item:after{	/* barrita de abajo */
	content: "";
	display: block;
	background: #fff;
	width: 90%;
	margin-top: 3px;
	height: 3px;
	clip-path: var(--clippy);
	transition: clip-path .5s;
}

.nav-item:hover{
	--clippy: polygon(0 0, 100% 1%, 100% 100%, 0 100%);
}

.nav-label, .nav-input, .nav-platform-input, .nav-platform-menu{
	display: none;
}

.nav-platform-menu{
	background: #A0A0A0;
			display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
	left: 60%;
		padding: 15px;
	  align-items: left;
		position: fixed;
		top: 60px;
		width: auto;
	clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	transition: clip-path .5s ease-in-out;
}

.nav-platform-input:checked + .nav-platform-menu{
		
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	
	}

.platform-item{
	padding-top: 20px;
	color: #fff;
	text-decoration: none;
	
}

.content{
	display: block;
}

.container-game-cont{
	padding: 5px;
	width: 140px;
	border-radius: 5px;
	align-items: center;
	text-align: center;
	background: #f0f0f0;
	text-transform: uppercase;
	cursor: pointer;
	transition: background 0.5s;
}

.container-game-cont:hover{
	background: #fff;
}
.container-game-cover{
	width: 120px;
	border: 1px solid black;
	border-radius: 5px;
	
}

.subcontent{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 5px;
	padding: 40px;
	font-size: 0.8em;
	
}

.title-container{
	padding: 40px;
	padding-bottom: 5px;
}

/* STATS */
.stats-platform-cont{
	background: #fff;
	border: 1px solid black;
}

.stats-platform-cont:hover{
	background: #f0f0f0;
}

.stats-platform-icon{
	border: 0;
	border-radius: 0;
}

.stats-sub-section{
  display: flex;
}

.stats-div-chart{
	width: 400px;
}

.stats-header-container{
	display: flex;
	gap: 20px;
	align-items: center;
	margin: 50px;
}

.stats-checkbox-container-global, .stats-totals-container-global{
	width: 250px;
	padding: 10px;
	border: 2px solid #A0A0A0;
	border-radius: 15px;
}

.stats-checkbox-container {
	padding: 5px;
	/* Usamos flexbox para alinear el checkbox y el label */
	display: flex;
	align-items: center; /* Centra verticalmente los elementos */
}

.stats-checkbox-container label{
	padding-left: 10px;
}

.stats-checkbox-container input[type="checkbox"]{
appearance: none;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 2px solid #A0A0A0;
	border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.stats-checkbox-container input[type="checkbox"]:checked::before {
	content: '';
    position: absolute;
    width: 26px;
    height: 26px;
	border-radius: 4px;
    background-color: #aedaf7;
}

.stats-totals-container{
	padding: 3px;
}

.stats-totals-text-note{
	font-size: 0.7em;
	display: block;
	margin-top:5px;
}

/*SAVEFILES*/
.savefiles-container {
  width: 500px; /* O el ancho que necesites */
  margin: 0 auto; /* Centrado horizontal */
}

.savefiles-title-container{
	margin-top: 20px;
	margin-bottom: 10px;
}

.savefiles-list-header{
	background: #A0A0A0;
	font-weight: 600;
}

.savefiles-list-item, .savefiles-list-header{
	display: grid;
	grid-template-columns: 300px 1fr 1fr 1fr; /* Primera columna fija en 300px, las demás se reparten */
	gap: 10px; /* Espacio entre columnas, si lo deseas */
	width: 500px;
	padding: 3px;
}

.savefiles-list-item:nth-child(odd){
	background: LightGray;
}

.savefiles-col-region, .savefiles-col-dl{
	text-align: center;
}

.savefiles-col-region img{
	width: 20px;
	border: 1px solid black;
	border-radius: 2px;
}

.savefiles-col-progress img{
	width: 50px;
}

.savefiles-col-dl img{
	width: 20px;
}


@media (max-width: 700px){
	.nav-label{
		display: block;
		cursor: pointer;
	}
	
	.nav-menu{
		position: fixed;
		top: 80px;
		bottom: 0;
		width: 100%;
		left: 0;
		background: #f08080;
		display: flex;
		justify-content: space-evenly;
		flex-direction: column;
		align-items: center;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
		transition: clip-path .5s ease-in-out;
	}
	
	.nav-input:checked + .nav-menu{
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
	
	
	.nav-platform-menu{
		position: relative;
		display: flex;
		flex-direction: column;
		top: 0px;
		bottom: 0;
		width: 100%;
		height: 400px;
		left: 0;
		align-items: center;
		overflow-y: scroll;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
		transition: clip-path .5s ease-in-out;
	}
	
	.nav-platform-input:checked + .nav-platform-menu{		
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);		
	}
	
	.skip-icon{
		filter: invert(100%);
		width: 50px;
	}
	
.title-container{
	text-align: center;
}

	.stats-sub-section{
  display: block;
}
	
}